* {
    box-sizing: border-box;
    font-family: 'Segoe UI',Arial,sans-serif;
}

.iconButton {
    outline: none;
    border: none;
    background:none;
    cursor: pointer;
}

body {
    /* width: 90%; */
    margin: auto;    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-image: linear-gradient(#e6e6e6, #f2f2f2, #ffffff);
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header section button {
    outline: none;
    border: none;
    background:none;
    cursor: pointer;
    color: #0088cc;
    text-align: center;
    font-size: 30px;
    padding: 4px;
}

header section input {
    width: 80%;
}

header > a > i {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

main .stream {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

main .playlist {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

main .playlist .playlistHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .playlist .playlistStations {
    
}

main .playlist .playlistStations .playlistStationItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .playlist .playlistStations .playlistStationItem > * {
    font-size: 13px;
}

/* main .playlist .playlistStations .playlistStationItem i {
    color: black;
} */

main .stationSearch {
    position: fixed;
    top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
    min-width: 60%;
}

main .stationSearch .searchControlsAdvanced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .stationSearch .searchControlsAdvanced .searchControls .controlItem:nth-of-type(1) {flex-grow: 1;}
main .stationSearch .searchControlsAdvanced .searchControls .controlItem:nth-of-type(2) {flex-grow: 3;}
main .stationSearch .searchControlsAdvanced .searchControls .controlItem:nth-of-type(3) {flex-grow: 0;}

main .stationSearch .searchControlsAdvanced .searchControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

main .stationSearch .searchControlsAdvanced .searchControls div:nth-of-type(2) {
    text-align: center;
}

main .stationSearch .searchControlsAdvanced .searchControls input {
    width: 70%;
    height: 40px;
    font-size: 22px;
    border: 0;
    text-align: center;
}

main .stationSearch .searchControlsAdvanced .searchControls button {
    outline: none;
    border: none;
    background:none;
    cursor: pointer;
}

main .stationSearch .searchControlsAdvanced .searchAdvanced {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

main .stationSearch .searchControlsAdvanced .searchAdvanced div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .stationSearch .searchControlsAdvanced .searchAdvanced div > * {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 20%;
}

main .stationSearch .searchResults {
    
}

main .stationSearch .searchResults .searchResultItem {
    padding: 4px;
}

main .stationSearch .searchResults .searchResultItem button {

}

main .stationSearch .searchResults .searchResultItem > a {
    font-size: 14px;
    color: black;
    display: inline-block;
    width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}