* {
    box-sizing: border-box;
    /* font-family: ; */
}

body {
    /* width: 90%; */
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-image: linear-gradient(#e6e6e6, #f2f2f2, #ffffff);
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header section button {
    outline: none;
    border: none;
    background:none;
    cursor: pointer;
    color: #0088cc;
    text-align: center;
    font-size: 30px;
    padding: 4px;
}

header > a > i {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

main .stream {
    max-width: 200px;
    max-height: 200px;
}

main .playlist {
    display: flex;
    flex-direction: column;
}

main .playlist .playlistHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .playlist .playlistHeader button {
    outline: none;
    border: none;
    background: none;
}

main .stationSearch {

}